@import "nullstyle.css";
@import "fons.css";
.contact__form-btn, .header__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  width: 169px;
  height: 44px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  white-space: nowrap;
}

.contact__title, .teacher__title, .header__title, .compani__title, .profession__header-title, .strat__title, .lessons__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  margin-bottom: 45px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container-header {
  max-width: 1775px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1311px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background: url("../img/main-screen__bgc.svg") 46% 0/100% no-repeat;
  background-size: cover;
}
.header__top {
  padding-top: 38px;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 188px;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  margin-right: 56px;
  transition: all 0.3s;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-item:hover {
  border-bottom: 1px solid #ffffff;
  transition: all 0.3s;
}
.header__user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 44px;
  padding: 10px 30px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
  transition: all 0.3s;
}
.header__user:hover {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  transition: all 0.3s;
}

.burger--nev {
  display: none;
}

.body__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
  margin-bottom: 50px;
}

.header__body {
  margin-bottom: 238px;
}
.timer {
  display: inline-flex;
  text-align: center;
  justify-content: flex-start;
  height: 130px;
  width: 100%;
  margin: 0 auto;
}

.days,
.hours,
.minutes,
.seconds {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  margin: 0 auto;
}

.uncorrectDays,
.uncorrectHours,
.uncorrectMinutes,
.uncorrectSeconds {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  opacity: 0.4;
}

.days-block,
.hours-block,
.minutes-block,
.seconds-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  background: #121212;
  width: 115px;
  height: 112px;
}

.timer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.timer-text {
  display: block;
  font-size: 12px;
}

.header__footer {
  background: #121212;
}
.header__footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__footer-btn {
  margin: 43px 80px 43px 0;
}
.header__footer-btn:hover {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
}
.header__footer-earned {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}
.header__footer-earned span {
  display: flex;
  height: 6px;
  width: 714px;
  background: linear-gradient(97.78deg, #df5950 11.19%, #451046 63.72%, #ffffff 49%);
  margin: 8px 0 8px 0;
}
.header__footer-earned--top {
  display: flex;
  justify-content: flex-start;
}
.header__footer-earned--bottom {
  display: flex;
  justify-content: space-between;
}

.footer__user--all {
  display: flex;
  justify-content: space-between;
  opacity: 0.4;
  margin-bottom: 20px;
}
.footer__user--completed {
  display: flex;
  opacity: 0.4;
}

.user__all--text {
  margin-right: 10px;
  white-space: nowrap;
}
.user__all--number {
  margin-left: 30px;
}

.earned__top-titel {
  opacity: 0.4;
}
.earned__top-nuber {
  opacity: 0.4;
  margin-left: 623px;
}
.earned__top-sum {
  margin-left: 30px;
  white-space: nowrap;
}

.main {
  background: url("../img/fons.svg");
}
.lessons__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lessons__img {
  margin-top: 200px;
}
.lessons__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 65px 0 0 135px;
}
.lessons__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.main__start {
  margin-top: 200px;
}

.start__paragraph {
  display: block;
  width: 411px;
  line-height: 160%;
  opacity: 0.5;
}
.start__user {
  margin-top: 80px;
}
.start__list {
  display: flex;
  justify-content: center;
}
.start__list--item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.start__list--item:first-child span {
  display: flex;
  width: 342px;
  height: 80px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  margin: 20px 0 35px 0;
}
.start__list--item:nth-child(2) span {
  display: flex;
  width: 342px;
  height: 60px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  margin: 30px 0 45px 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.start__list--item:nth-child(3) span {
  display: flex;
  width: 342px;
  height: 40px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  margin: 45px 0 60px 0;
}
.start__list--item:last-child span {
  display: flex;
  width: 342px;
  height: 10px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  margin: 55px 0 70px 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.start__list--item-top {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}
.start__list--item-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
  width: 306px;
  height: 88px;
}

.strat__title {
  margin-left: 115px;
  position: relative;
}
.strat__title::after {
  content: "";
  position: absolute;
  top: -30px;
  left: -106px;
  width: 96px;
  height: 96px;
  background: url("../img/Ellipse.svg") 0 0/100% no-repeat;
}

.main__profession {
  margin-bottom: 120px;
}

.profession {
  margin-top: 200px;
}
.profession__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profession__header {
  margin-bottom: 120px;
}
.profession__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profession__body--list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.profession__body--list-item {
  margin-right: 82px;
}
.profession__body--list-item:last-child {
  margin-bottom: 0;
}
.profession__body--list-item-img {
  margin-bottom: 60px;
}
.profession__body--list-item-title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 30px;
  max-width: 416px;
  width: 100%;
}
.profession__body--list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.8;
  text-align: center;
}

.main__compani {
  margin-top: 230px;
}

.compani__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}

.compani__title {
  margin-left: 115px;
  position: relative;
}
.compani__title::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -154px;
  width: 78px;
  height: 78px;
  margin-left: -9px;
  background: url("../img/Ellipse-rev.svg") 0 0/100% no-repeat;
}
.compani__body {
  margin-top: 117px;
}

.grid__list {
  display: grid;
  grid-template: repeat(2, auto)/repeat(4, 198px);
  gap: 58px 133px;
}
.grid__list--item {
  position: relative;
}
.grid__list--item:nth-child(-n+3):before {
  content: "";
  top: -11px;
  right: -42%;
  width: 1px;
  height: 300px;
  position: absolute;
  background: #ffffff;
  opacity: 0.3;
}
.grid__list--item:nth-child(2)::after {
  content: "";
  bottom: -27px;
  right: -378%;
  width: 1363px;
  height: 1px;
  position: absolute;
  background: #ffffff;
  opacity: 0.3;
}

.main__education {
  margin-top: 360px;
}

.education__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.education__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.education__header::before {
  position: absolute;
  content: "";
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  width: 91px;
  height: 45px;
  background: url("../img/Ellipse-bot.svg") 0 0/100% no-repeat;
}
.education__term {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__title {
  text-align: center;
  margin-bottom: 30px;
}
.header__text {
  text-align: center;
  width: 411px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 80px;
}

.education__term span {
  display: block;
  position: absolute;
  top: -2%;
  width: 6px;
  height: 677px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.term__list-item--title {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
  text-align: right;
  margin: 0 60px 15px 0;
}
.term__list-item--text {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  width: 228px;
  text-align: right;
  margin: 0 60px 87px 0;
}
.term__list-item--text::before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  right: -60px;
  width: 40px;
  height: 1px;
  background: #ffffff;
  opacity: 0.3;
}
.term__list-item--titles {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
  text-align: left;
  margin: 0 0 15px 60px;
}
.term__list-item--texts {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  width: 228px;
  text-align: left;
  margin: 0 0 87px 60px;
}
.term__list-item--texts::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: -57px;
  width: 40px;
  height: 1px;
  background: #ffffff;
  opacity: 0.3;
}

.teacher {
  margin-top: 230px;
}
.teacher__title {
  margin-bottom: 113px;
  position: relative;
  padding-left: 137px;
}
.teacher__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 91px;
  height: 45px;
  background: url("../img/Ellipse-top.svg") 0 0/100% no-repeat;
}
.teacher__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teacher__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 416px;
  margin-right: 24px;
}

.card_item-speciality {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.8;
  margin-top: 15px;
}
.card_item-btn {
  display: block;
  text-align: center;
  margin-top: 30px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 30px;
  transition: all 0.2s;
}
.card_item-btn:hover {
  border: 1px solid #7c6afa;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
  transform: cale(1.5);
  transition: all 0.3s;
}
.card__item-photo img {
  border-radius: 50%;
}
.card__item-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin-top: 40px;
}

.main__contact {
  margin-top: 200px;
  display: flex;
  align-items: center;
}

.contact__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact__title {
  margin-bottom: 30px;
  text-align: center;
}
.contact__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 60px;
}
.contact__form {
  display: flex;
  align-items: center;
}
.contact__form-input {
  display: block;
  width: 353px;
  height: 44px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50px 0px 0px 50px;
  padding: 11px 30px 11px 30px;
  margin-right: -15px;
}
.contact__form-input::placeholder {
  color: #ffffff;
}
.contact__form-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  z-index: 2;
  margin-left: -5px;
  transition: all 0.3s;
}
.contact__form-btn:hover {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
  transition: all 0.3s;
}
.social__list {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  margin: 0 56px 106px 0;
  border-radius: 50%;
  transition: all 0.3s;
}
.social__item:hover {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  transition: all 0.3s;
}
.social__item:last-child {
  margin-right: 0px;
}
/*------------------1350--------------------------*/
@media (max-width: 1350px) {
  .header {
    background: url(../img/main-screen__bgc.svg) 75% 0/0% no-repeat;
    background-size: auto;
  }
  .header__footer-inner {
    display: grid;
    grid-template: "header__footer-btn header__footer-user" 1fr "header__footer-earned header__footer-earned " 1fr;
    align-items: center;
    justify-content: center;
  }
  .header__footer-btn {
    grid-area: header__footer-btn;
  }
  .header__footer-user {
    grid-area: header__footer-user;
    width: 258px;
  }
  .header__footer-earned {
    grid-area: header__footer-earned;
    max-width: 714px;
  }
  .start__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .strat__title {
    margin: 0 0 30px 0;
  }
  .strat__title::after {
    display: none;
  }
  .header__footer-btn {
    margin-right: 10px;
  }
  .header__footer-earned {
    margin-left: 10px;
  }
  .footer__user--all {
    justify-content: space-between;
  }
  .header__footer-btn {
    margin: 10px 290px 15px 0;
  }
  .start__list {
    flex-direction: column;
  }
  .compani__header {
    text-align: center;
  }
  .compani__title {
    margin: auto;
  }
  .compani__title::after {
    display: none;
  }
  .compani__body {
    margin-top: 30px;
  }
  .grid__list {
    display: grid;
    grid-template: repeat(4, auto)/repeat(2, 198px);
    gap: 40px 80px;
  }
  .grid__list--item:nth-child(-n+3)::before {
    display: none;
  }
  .grid__list--item::after {
    display: none;
  }
  .main__education {
    margin-top: 60px;
  }
  .education__header::before {
    display: none;
  }
  .teacher__title {
    padding: 0;
  }
  .teacher__title::before {
    display: none;
  }
  .teacher__header {
    text-align: center;
  }
  .teacher__title {
    font-size: 38px;
  }
  .teacher__inner {
    flex-direction: column;
  }
  .teacher__card {
    margin: 0 0 20px 0;
  }
}
/*------------------1100--------------------------*/
@media (max-width: 1100px) {
  .header {
    background: url(../img/main-screen__bgc.svg) 72% 100%/175% 110% no-repeat;
  }
  .header__nav-item {
    margin-right: 25px;
  }
  .body__title {
    font-size: 42px;
  }
  .body__data-item {
    width: 105px;
    height: 100px;
    margin-right: 25px;
  }
  .lessons__img {
    display: none;
  }
  .lessons__text {
    text-align: center;
    margin-left: 0;
  }
}
/*------------------1000--------------------------*/
@media (max-width: 1000px) {
  .header {
    background: url(../img/main-screen__bgc.svg) 73% 98%/198% 109% no-repeat;
  }
}
/*------------------900---------------------------*/
@media (max-width: 900px) {
  .burger--nev {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 15px;
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 11;
    opacity: 1;
  }
  .burger--nev span {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 35px;
    height: 4px;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    border-radius: 4px;
  }
  .burger--nev span::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    width: 35px;
    height: 4px;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    border-radius: 4px;
  }
  .burger--nev span::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 35px;
    height: 4px;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    border-radius: 4px;
  }
  .burger--follow {
    box-shadow: 0 2px 20px -4px #ffffff;
    background-color: #fff;
  }
  .header {
    background: url(../img/main-screen__bgc.svg) 76% 92%/204% 110% no-repeat;
  }
  .header__top-inner {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    background: #121212;
    z-index: 10;
    min-width: 320px;
    height: 100%;
    opacity: 0.9;
    transform: translateX(0%);
    transition: all 0.3s;
  }
  .header__top-inner--oppen {
    transform: translateX(100%);
    transition: all 0.3s;
  }
  .header__nav-list {
    flex-direction: column;
    align-items: center;
  }
  .header__nav-item {
    align-items: center;
    margin: 20px 0 20px 0;
  }
  .header__user {
    margin-top: 60px;
  }
  .lessons__title {
    font-size: 36px;
  }
  .days,
.hours,
.minutes,
.seconds {
    font-size: 32px;
  }
  .uncorrectDays,
.uncorrectHours,
.uncorrectMinutes,
.uncorrectSeconds {
    font-size: 14px;
  }
  .days-block,
.hours-block,
.minutes-block,
.seconds-block {
    width: 105px;
    height: 105px;
  }
  .profession__header-title {
    font-size: 36px;
  }
  .profession__body--list-item-title {
    font-size: 20px;
  }
  .profession__body--list-item-text {
    font-size: 12px;
  }
  .contact__title {
    font-size: 38px;
  }
}
/*------------------------750-----------------------------------*/
@media (max-width: 750px) {
  .header__footer-inner {
    display: flex;
    justify-content: space-between;
  }
  .header__footer-earned {
    display: none;
  }
  .header__footer-btn {
    margin: 20px 0;
  }
  .body__data-item {
    width: 90px;
    height: 85px;
  }
  .data__item-number {
    font-size: 32px;
  }
  .data__item-text {
    font-size: 14px;
  }
  .start__header {
    align-items: center;
    justify-content: center;
  }
  .start__paragraph {
    max-width: 411px;
  }
  .strat__title {
    font-size: 36px;
  }
  .profession__header {
    margin-bottom: 30px;
  }
  .profession__body {
    flex-direction: column;
  }
  .profession__body--list {
    margin: 0 0 30px 0;
    align-items: center;
    justify-content: center;
  }
  .profession__body--list-item {
    margin-right: 0;
  }
  .profession__body--list-item-text {
    max-width: 300px;
  }
  .compani__title {
    font-size: 38px;
  }
  .header__title {
    font-size: 38px;
  }
  .header__text {
    font-size: 14px;
  }
  .term__list-item--texts,
.term__list-item--text {
    font-size: 12px;
  }
}
/*------------------------650-----------------------------------*/
@media (max-width: 650px) {
  .header {
    background: url(../img/main-screen__bgc.svg) 76% 92%/223% 111% no-repeat;
  }
  .body__title {
    font-size: 36px;
  }
  .timer-section {
    margin-right: 15px;
  }
  .days,
.hours,
.minutes,
.seconds {
    font-size: 28px;
  }
  .uncorrectDays,
.uncorrectHours,
.uncorrectMinutes,
.uncorrectSeconds {
    font-size: 14px;
  }
  .days-block,
.hours-block,
.minutes-block,
.seconds-block {
    padding: 20px 30px;
    width: 100px;
    height: 95px;
  }
}
/*------------------------550-----------------------------------*/
@media (max-width: 550px) {
  .header {
    background: url(../img/main-screen__bgc.svg) 76% 231%/300% 107% no-repeat;
  }
  .main__profession {
    margin: 40px 0 60px 0;
  }
  .main__compani {
    margin-top: 40px;
  }
  .main__teacher {
    margin-top: 60px;
  }
  .teacher__title {
    margin-bottom: 50px;
  }
  .main__contact {
    margin-top: 60px;
  }
  .body__title {
    font-size: 26px;
  }
  .body__data {
    padding-bottom: 145px;
  }
  .header__body {
    margin-bottom: 130px;
  }
  .header__footer-inner {
    flex-direction: column-reverse;
  }
  .footer__user--all {
    margin-top: 30px;
  }
  .lessons__title {
    font-size: 22px;
  }
  .lessons__paragraph {
    font-size: 14px;
  }
  .profession__header-title {
    text-align: center;
  }
  .compani__title {
    font-size: 36px;
  }
  .grid__list {
    display: grid;
    grid-template: repeat(6, auto)/repeat(1, 198px);
    gap: 40px 80px;
  }
  .header__title {
    font-size: 22px;
  }
  .header__text {
    max-width: 300px;
  }
  .term__list-item--texts,
.term__list-item--text {
    width: 100px;
  }
  .teacher__title {
    font-size: 22px;
  }
  .card__item-name {
    font-size: 18px;
  }
  .card_item-speciality {
    font-size: 16px;
  }
  .contact__title {
    font-size: 22px;
  }
  .contact__text {
    text-align: center;
    font-size: 14px;
  }
  .contact__form {
    flex-direction: column;
  }
  .contact__form-input {
    border-radius: 50px;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .timer-section {
    margin-right: 15px;
  }
  .days,
.hours,
.minutes,
.seconds {
    font-size: 24px;
  }
  .uncorrectDays,
.uncorrectHours,
.uncorrectMinutes,
.uncorrectSeconds {
    font-size: 12px;
  }
  .days-block,
.hours-block,
.minutes-block,
.seconds-block {
    padding: 10px 15px;
    width: 85px;
    height: 80px;
  }
}
/*----------------------------------------------------*/
@media (max-width: 450px) {
  .header {
    background: url(../img/main-screen__bgc.svg) 76% 231%/320% 107% no-repeat;
  }
  .start__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    margin: 0;
    padding: 0;
  }
  .strat__title {
    margin-left: 0;
    font-size: 22px;
  }
  .start__paragraph {
    max-width: 300px;
    font-size: 14px;
    margin: 0 5px;
  }
  .strat__title::after {
    display: none;
  }
  .start__list {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .profession__header-title {
    font-size: 22px;
  }
  .compani__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
  }
  .contact__form-input {
    width: 290px;
  }
  .social__list {
    justify-content: center;
  }
  .social__item {
    margin-right: 19px;
  }
  .days,
.hours,
.minutes,
.seconds {
    font-size: 22px;
  }
  .uncorrectDays,
.uncorrectHours,
.uncorrectMinutes,
.uncorrectSeconds {
    font-size: 10px;
  }
  .days-block,
.hours-block,
.minutes-block,
.seconds-block {
    padding: 10px 15px;
    width: 60px;
    height: 65px;
  }
}
/*----------------------------320----------------------------------------*/
@media (max-width: 320px) {
  .header {
    background: url(../img/main-screen__bgc.svg) 80% 234%/328% 105.6% no-repeat;
  }
}/*# sourceMappingURL=style.css.map */